@page "/counter"
@using Hubcon.Blazor.Client.Auth
@using Hubcon.Shared.Abstractions.Interfaces
@using HubconTestDomain
@rendermode InteractiveWebAssembly
@inject AuthenticationManager _authenticationManager
@inject ILogger<Counter> _logger
@inject IUserService _userService

<button class="btn btn-primary" @onclick="Login">Login</button>
<button class="btn btn-primary" @onclick="TestSubscribe">TestSubscribe</button>
<button class="btn btn-primary" @onclick="TestCreateUser">TestCreateUser</button>
<button class="btn btn-primary" @onclick="TestStream">TestStream</button>

@code {
    protected async void Login()
    {
        var res = await _authenticationManager.LoginAsync("", "");

        if (res.IsSuccess)
            _logger.LogInformation($"Login OK. Token: {_authenticationManager.AccessToken}");
        else
            _logger.LogInformation($"Login failure.");
    }

    protected async Task TestSubscribe()
    {
        HubconEventHandler<int> handler = async (int input) =>
        {
            _logger.LogInformation($"Evento recibido: {input}");
        };

        _userService.OnUserCreated!.AddHandler(handler);
        await _userService.OnUserCreated.Subscribe();

        _logger.LogInformation($"Subscribe OK");
    }

    protected async Task TestCreateUser()
    {
        await _userService.CreateUser();
        _logger.LogInformation($"CreateUser OK");
    }

    protected async Task TestStream()
    {
        await foreach (var item in _userService.GetMessages(10))
        {
            _logger.LogInformation($"Item de stream recibidos: {item}");
        }
    }
}